* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #263640;
}

.logo {
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  font-family: Poppins;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

header button {
  color: white;
  background-color: #7591a3;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
  font-family: Poppins;
}

/* Hero Section */
.hero {
  width: 100%;
  display: flex;
  background: url(./images/hero_bg.svg) no-repeat center center/cover;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.texts {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-left: 120px;
  padding-top: 90px;
}
.hero .big_text {
  font-family: Poppins;
  font-size: 50px;
  font-weight: 500;
  line-height: 80px;
  color: #263640;
  text-align: start;
  padding: 10px 5px;
}

.hero .small_text {
  width: 65%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #7591a3;
  text-align: start;
  padding: 10px 5px;
  margin-bottom: 100px;
}

.hero button {
  color: white;
  background-color: #263640;
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  font-size: 14px;
  cursor: pointer;
  font-family: Poppins;
}

.texts .lower-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 100px;
}

.lower-buttons p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}
