@font-face{
    font-family: 'Urbanist';
    src: url('./fonts/Urbanist-VariableFont_wght.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Urbanist';
}
body{
    background-color: #fff;
    color: #222;
    line-height: 1.6;
    width: 1200px;

}
/* scetion layout style */
.currency {
    max-width: 500px;
    margin: auto;
    padding: 50px 20px;

}
.currency-header{
    margin-bottom: 50px;
}
.tag-container {
    font-size: 0.9rem;
    color: #007b55;
    font-weight: 600;
    margin-bottom: 10px;
    border: 1px solid #007b55;
    display: inline-block;
    padding: 4px 12px;
    border-radius: 20px;
}
h1 {
    margin-bottom: 16px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #111;
}
.subtitle {
    color: #555;
    margin-bottom: 0 auto 50px;
    max-width: 600px;
}
/* card styles */
.list {
    padding: 10px 10px;
    background-color: white;
    border-radius: 16px;
    transform: transfrom 0.3s ease, box-shadow 0.3s ease;
    border: none ;
    text-align: center;
    display: flex;
    margin-bottom: 20px;


}

    
.list:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.list img{
   height: 40px;
   width: 40px;
   
   
   
   

}
.list h3{
    font-size: 0.9rem;
    font-weight: 400;
    color: #111;
    line-height: 1.2;
    display: flex;
    text-align: left;
    margin-left: 10px;
    align-items: center;


}
button {
    margin-top: 40px;
    width: 100%;
    max-width: 200px;
    padding: 15px;
    border-radius: 60px;
    background-color: #007b55;
    color: #fff;
    border: none;

}
.photo {
    float: right;
    width: 30px;

 

}
