@font-face {
  font-family: "urbanist";
  src: url(./fonts/Urbanist-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "urbanist";
}

body {
  background-color: white;
  color: #222;
  line-height: 1.6;
}
/*Section Layout Style*/
.features-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
}

.tag-container {
  font-size: 0.8rem;
  color: #007b55;
  font-weight: 600;
  margin-bottom: 10px;
  border: 1px solid #007b55;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 20px;
}

h1 {
  margin-bottom: 16px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #111;
}
.subtitle {
  color: #555;
  margin-bottom: 0 auto 50px;
  max-width: 600px;
}
.features-header {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Grid Layout Styles*/

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

/*Our Card Style*/
.features-card {
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 25px 20px;
  border: 1px solid #ccc;
  transform: tranform 0.3s ease, box-shadow 0.3s ease;
}

.features-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.features-card img {
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}

.features-card h3 {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #111;
}

.features-card p {
  color: #555;
  font-size: 0.7rem;
}

/*this is my class work*/

.full-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
}

.div1 {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ccc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.div1 h1 {
  font-size: 45px;
  color: #000;
}
.div1 p {
  font-size: 14px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

/*second diiv*/
.div2 {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: green;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.div2 h1 {
  font-size: 45px;
  color: white;
}
.div2 p {
  font-size: 14px;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: white;
}

/*This is the Assignment Section*/
.assignment {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}
.assignment h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
}
.assignment p {
  font-size: 18px;
}
.second img {
  border-radius: 32px;
  height: 600px;
  width: 600px;
}
.tag-container1 {
  font-size: 0.8rem;
  color: #007b55;
  font-weight: 600;
  margin-bottom: 10px;
  border: 1px solid #007b55;
  display: inline-block;
  margin-left: 50px;
  padding: 4px 12px;
  border-radius: 20px;
}
.word {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}
.tick {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  margin-left: 50px;
  padding: 5px;
}
.tick img {
  width: 20px;
  height: 20px;
}

button {
  background-color: #1d9b5e;
  color: white;
  padding: 15px;
  border-radius: 50px;
  border: none;
  margin-left: 50px;
  margin-top: 15px;
  gap: 5px;
  font-size: 16px;
  font-weight: 600;
}
.btn-img {
  padding-left: 5px;
  padding-bottom: -30px;
}

/*second Assignment on the same project*/

.four {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.four1 {
  border: 1px solid #ccc;
  display: flex;
  padding: 10px;
  gap: 10px;
  margin-right: 10px;
  border-radius: 15px;
}
.four1 img {
  height: 48px;
  width: 48px;
}
.four1 p {
  font-size: 14px;
}
.second1 img {
  border-radius: 32px;
  height: 600px;
  width: 600px;
  margin-left: 50px;
}
