body {
    background-color: gray;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.login {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 10px;
    padding: 20px;
    
}
div {
    display: flex;
}

h1 {
    font-size: 40px;
    font-weight: 700px;
    align-items: center;
}

input[type="email"], input[type="password"] {
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    width: 75%;
}
input [placeholder] {
    font-size: 16px;
    color: gray;
}

.button1 {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    width: 80%;
    text-transform: capitalize;
}

p {
    align-items: start;
    font-size: 16px;
}
a {
    text-decoration: none;
    font-weight: 500;
}

#p {
    font-size: 14px;
    color: rgb(163, 160, 160);
    margin-bottom: 25px;
}

.button2 {
    padding: 15px;
    margin-bottom: 20px;
    color: rgb(8, 8, 8);
    background-color: rgb(248, 248, 248);
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: 800;
    width: 80%;
    text-transform: capitalize;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
img {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}
.button3  {
     padding: 15px;
    color: rgb(8, 8, 8);
    background-color: rgb(252, 252, 252);
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: 800;
    width: 80%;
    text-transform: capitalize;
    gap: 20px;
    align-items: center;
    font-size: 16px;
}