body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: blue;
  border: none;
  margin-bottom: 20px;
  color: white;
  width: 300px;
  padding: 20px;
}

.btn2 {
  background-color: green;
}

.btn3 {
  background-color: #f00;
}

.login-form .input {
  padding: 20px;
  width: 300px;
}

p {
  color: rgb(0, 0, 255);
}
